<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ data.header }}</title>
    <link href="/css/table.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2> Оценка качества модели - {{ data.score }}</h2>
<table>
    <thead>
    <tr>
        <th>Признак</th>
        <th>Оценка</th>
    </tr>
    </thead>
    <tbody>
    {% for feature, score in data.feature_importances.items() %}
    <tr>
        <td> {{ feature }}</td>
        <td> {{ score }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>